<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить товар</title>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
<div th:replace="layouts/header :: header"></div>
<main class="container">
   <h1>Adding new article</h1>
    <form method="post" th:action="@{/item/add}" >
        <input type="text" name="title" placeholder="Enter title">
        <input type="text" name="image" placeholder="Enter URL фото">
        <input type="number" name="price" placeholder="Enter price">
        <textarea name="info" placeholder="Enter description"></textarea>
        <button type="submit">Add</button>
    </form>
</main>
<div th:replace="layouts/footer :: footer"></div>
</body>
</html>